h1{
    text-align: center;
}
.caja{
    
    display: grid;
    margin:0 auto ;
    width: 87.50vw;
    height: 90vh;
    text-align: center;
    border: solid;
    border-color: black;
    gap: 10px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.con:hover{
    background-color: greenyellow;
}
#uno{
    border: solid;
    border-color: black;
}
#dos{
    border: solid;
    border-color: red;
}
#tres{
    border: solid;
    border-color: orange;
}
#cuatro{
    border: solid;
    border-color: yellow;
}
#cinco{
    border: solid;
    border-color: green;
}
#bot{
    background-color: aquamarine;
}
#bot2{
    height: 4fr;
}


#luis{
    background-color: aqua;
    width: 200px;
    height: 100px;
}